name: Test

on:
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  license-check:
    runs-on: ubuntu-latest

    timeout-minutes: 15

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: npm

      - name: Install dependencies
        run: npm ci
        env:
          HUSKY: 0

      - name: License Check
        run: npm run license-check

  test:
    runs-on: ubuntu-latest

    timeout-minutes: 10

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: npm

      - name: Install dependencies
        run: npm ci
        env:
          HUSKY: 0

      - name: Lint
        run: npm run lint

      - name: Type Check
        run: npm run typecheck

      - name: Build
        run: npm run build

      - name: Check Package Type Declarations
        run: npm run test:attw
